@import "@material/theme/color-palette";

:root {
    --primary-color: #2b6cb0; // bg-blue-700
    --secondary-color: #c53030; // bg-red-700
    --primary-font-color: #ffffff;
    --secondary-font-color: #ffffff;
    --primary-color-text: var(--primary-color);
    --secondary-color-text: var(--secondary-color);
    --disabled-button-bg-color: rgba(0, 0, 0, 0.12);
    --disabled-button-color: rgba(0, 0, 0, 0.26);
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --font-family: "Montserrat", sans-serif;
}

[data-theme="dark"] {
    --primary-color: #63b3ed; // bg-blue-400
    --secondary-color: #fc8181; // bg-red-400
    --primary-font-color: #000000;
    --secondary-font-color: #000000;
    // --primary-color-text: #000000;
    // --secondary-color-text: #000000;
    --disabled-button-bg-color: rgba(255, 255, 255, 0.12);
    --disabled-button-color: rgba(255, 255, 255, 0.3);
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    --mdc-theme-primary: var(--primary-color);
    --mdc-theme-secondary: var(--secondary-color);
    --mdc-theme-on-primary: var(--primary-font-color);
    --mdc-theme-on-secondary: var(--secondary-font-color);
    --mdc-theme-surface: var(--bg-color);
    --duration: 0.5s;
    --timing: ease;
    background-color: var(--bg-color);
    color: var(--font-color);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
    font-family: var(--font-family, "Montserrat", sans-serif);
}

// Svelte Colors!
// $mdc-theme-primary: #25ad6e;
// $mdc-theme-secondary: #6630e6;
// Other Svelte color: #40b3ff

$mdc-typography-font-family: var(--font-family, "Montserrat", sans-serif);
$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
// $mdc-button-shape-radius: 999px;

$mdc-theme-error: $material-color-red-900;

// .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
.mdc-button--raised:disabled,
.mdc-button--unelevated:disabled {
    background-color: var(--disabled-button-bg-color, #383838);
    color: var(--disabled-button-color, #5c5c5c);
}

.mdc-button--outlined:disabled {
    border-color: var(--disabled-button-color, #5c5c5c);
}

.mdc-button:disabled {
    color: var(--disabled-button-color, #5c5c5c);
}

.smui-button--color-secondary.mdc-button--raised:not(:disabled),
.smui-button--color-secondary.mdc-button--unelevated:not(:disabled) {
    color: --primary-color-text;
}

.smui-button--color-secondary.mdc-button--raised:not(:disabled),
.smui-button--color-secondary.mdc-button--unelevated:not(:disabled) {
    color: --secondary-color-text;
}

// Tailwind additions
.flex-1-0-auto {
    flex: 1 0 auto;
}
