@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #ff3e00;
$mdc-theme-secondary: #676778;
// Other Svelte color: #40b3ff

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
// $mdc-button-shape-radius: 999px;

$mdc-theme-error: $material-color-red-900;


// .frappe-chart .line-chart .axis,
// .frappe-chart .title {
//     display: none;
// }

// .frappe-chart {
//     width: 2048px;
// }
// .frappe-chart .line-chart {
//     transform: translate(0, 0);
// }
